{% extends 'base.html' %} {% block title %}Edit Enrollments{% endblock %} {% block content %}
    <div class="container-fluid pt-4 px-4">

    <div class="bg-light rounded h-100 p-4">
        <h4 class="mb-4">Editar matricula</h4>
    <form method="post" action="{% url 'edit_enrollments' enrollment.id %}">
      {% csrf_token %} {{ form.as_p}}
      <button type="submit" class="btn btn-primary">Update</button>
      <a role="button" class="btn btn-danger" href="{% url 'enrollments' %}">Cancelar</a>
    </form>
  </div>
  {% endblock %}
</div>
