<form class="multipart/form-data" method="POST">
  {% csrf_token %}

  <div class="form-group">
    <div class="mb-3">
      <label for="title">Estudiante</label>
        <input class="form-control" name="estudiantes" id="estudiantes" list="listStudents" placeholder="Escribe para buscar...">
            <datalist id="listStudents">
            <option value="COD:67772 - Andres Molinares">
            <option value="COD:89651 - Ricardo Jaramillo">
            <option value="COD:78945 - Luis Tilve">
            </datalist>
    </div>

    <div class="mb-3">
      <label for="title">Grado</label>
      <input
        type="number"
        class="form-control"
        name="document_number"
        value="ejemplo"
      />
    </div>
    <div class="mb-3">
      <label for="title">Asignatura</label>
        <input class="form-control" name="asignaturas" id="asignaturas" list="listSubjects" placeholder="Escribe para buscar...">
            <datalist id="listSubjects">
            <option value="Django">
            <option value="Python">
            <option value="HTML">
            </datalist>
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
  </div>
</form>
