{% extends 'base.html' %} {% block title %}Matriculas de estudiantes{% endblock %} {% block content %}
<div class="container-fluid pt-4 px-4">
  <div class="bg-light text-center rounded p-4">
    <h4>Matriculas</h4>
    <a class="btn btn-success rounded-pill m-2" href="{% url 'create_enrollments' %}">Matricular un estudiante</a>
    <div class="table-responsive">
      <table class="table text-start align-middle table-bordered table-hover mb-0" id="myTable">
        <thead>
          <tr class="text-dark">
            <th scope="col">Estudiante</th>
            <th scope="col">Grado</th>
            <th scope="col">Asignatura</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for enr in list_enrollment %}
          <tr>
            <td>{{ enr.student_id.name }} {{enr.student_id.last_name }}</td>
            <td>{{ enr.grado}}</td>
            <td>{{ enr.subject_id.name }}</td>
            <td class="text-center">
              <a class="btn btn-primary rounded-pill" href="{% url 'edit_enrollments' enr.id %}" role="button">Editar</a>
              <a class="btn btn-danger rounded-pill" onclick="return confirm('Seguro deseas eliminar?')" href="{% url 'delete_enrollments' enr.id %}" role="button">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endblock %}
</div>
