{% extends 'base.html' %} {% block title %} Agregar una asignatura {% endblock %} {% block content %}
<div class="container-fluid pt-4 px-4">
  <div class="bg-light rounded h-100 p-4">
    <h4 class="mb-4">Registrar nueva asignatura</h4>
    <form method="post">
      {% csrf_token %} {{ list_subject }}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Ingresar</button>
        <a role="button" class="btn btn-danger" href="{% url 'subjects' %}">Cancel</a>
      </div>
    </form>
  </div>
  {% endblock %}
</div>
