{% extends 'base.html' %}
{% block title %} Editar una asignatura {% endblock %}
{% block content %}
    <div class="container-fluid pt-4 px-4">

        <div class="bg-light rounded h-100 p-4">
            <h4 class="mb-4">Editar asignatura</h4>
            <form method="post" action="{% url 'edit_subjects' subject.id %}">
                {% csrf_token %}
                {{ form }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a role="button" class="btn btn-danger" href="{% url 'subjects' %}">Cancel</a>
                </div>
        </div>
    </div>
{% endblock %}