<form class="multipart/form-data" method="POST">
  {% csrf_token %}

  <div class="form-group">
    <div class="mb-3">
      <label for="title">Codigo</label>
      <input
        type="text"
        class="form-control"
        name="document_type"
        value="{{ subjects.code }}"
      />
    </div>

    <div class="mb-3">
      <label for="title">Nombre de la asignatura</label>
      <input
        type="number"
        class="form-control"
        name="document_number"
        value="{{ subject.name }}"
      />
    </div>
    <div class="mb-3">
      <label for="title">Profesor</label>
        <select class="form-control" name="profesores" id="profesores">
            <option value="">Elija un profesor...</option>
          {% for teacher in list_subject %}
            <option value="{{ subject.id }}">{{ teacher.id }} - {{ teacher.name }}</option>
          {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Ingresar</button>
  </div>
</form>
