{% extends 'base.html' %} {% block title %} Asignaturas {% endblock %} {% block content %}
<div class="container-fluid pt-4 px-4">
  <div class="bg-light text-center rounded p-4">
    <h4>Asignaturas</h4>
    {% if user.is_staff %}
    <a class="btn btn-success rounded-pill m-2" href="{% url 'create_subjects' %}">Crear Asignatura</a>
    {% endif %}
    <div class="table-responsive">
      <table class="table text-start align-middle table-bordered table-hover mb-0" id="myTable">
        <thead>
          <tr class="text-dark">
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Docente</th>
            {% if user.is_staff %}
            <th scope="col">Acciones</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% if list_subject %} {% for subject in list_subject %}
          <tr>
            <td>{{ subject.code }}</td>
            <td>{{ subject.name }}</td>
            <td>{{ subject.teacher_id }}</td>
            {% if user.is_staff %}
            <td class="text-center">
              <a class="btn btn-primary rounded-pill" href="{% url 'edit_subjects' subject.id %}" role="button">Editar</a>
              <a class="btn btn-danger rounded-pill" onclick="return confirm('Seguro deseas eliminar?')" href="{% url 'delete_subjects' subject.id %}" role="button">Eliminar</a>
            </td>
            {% endif %}
          </tr>
          {% endfor %} {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
