{% extends 'base.html' %} {% block title %} Editar un profesor {% endblock %} {% block content %}
<div class="container-fluid pt-4 px-4">
  <div class="bg-light rounded h-100 p-4">
    <h4 class="mb-4">Editar profesor</h4>
    <form method="post" action="{% url 'edit_user' user.id %}">
      {% csrf_token %} {{form.as_p}}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
        <a role="button" class="btn btn-danger" href="{% url 'teachers' %}">Cancel</a>
      </div>
    </form>
  </div>
  {% endblock %}
</div>
