<form class="multipart/form-data" method="POST">
  {% csrf_token %}

  <div class="form-group">
    <div class="mb-3">
      <label for="title">Nombres</label>
      <input
        type="text"
        class="form-control"
        name="document_type"
        value="sample"
      />
    </div>

    <div class="mb-3">
      <label for="title">Apellidos</label>
      <input
        type="number"
        class="form-control"
        name="document_number"
        value="sample"
      />
    </div>
    <div class="mb-3">
      <label for="title">Correo</label>
      <input
        type="text"
        class="form-control"
        name="name"
        value="{{ students.name }}"
      />
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
  </div>
</form>
