{% extends 'base.html' %} {% block title %} Profesores {% endblock %} {% block content %}
<div class="container-fluid pt-4 px-4">
  <div class="bg-light text-center rounded p-4">
    <h4>Profesores</h4>
    <a class="btn btn-success rounded-pill m-2" href="{% url 'create_user' %}">Crear Profesores</a>
    <div class="table-responsive">
      <table class="table text-start align-middle table-bordered table-hover mb-0" id="myTable">
        <thead>
          <tr class="text-dark">
            <th scope="col">Usuario</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Correo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td class="text-center">
              <a class="btn btn-primary rounded-pill" href="{% url 'edit_user' user.id %}" role="button">Editar</a>
              <a class="btn btn-danger rounded-pill" onclick="return confirm('Seguro deseas eliminar?')" href="{% url 'delete_user' user.id %}" role="button">Eliminar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
