{% extends 'base.html' %} {% block title %}Login{% endblock %} {% block sidebar %} {% endblock %} {% block navbar %} {% endblock %} {% block content %}
<div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh">
  <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-5">
    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3 shadow">
      <div class="d-flex align-items-center justify-content-between mb-3">
        <a href="#" class="">
          <h3 class="text-primary"><i class="bi bi-journal-bookmark-fill me-2"></i>EASYNOTES</h3>
          <h5 class="d-block">Reset Password</h5>
        </a>
      </div>
      <h2>THANK YOU!</h2>
      <p>Check your inbox email to reset your password.</p>
    </div>
  </div>
</div>
{% endblock %}
