<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Reset</title>
</head>
<body style="background-color: lightblue ">

<!--Copia desde aquí-->
<table style="max-width: 600px; padding: 10px; margin:0 auto; border-collapse: collapse;">


    <tr>
        <td style="background-color: #ecf0f1">
            <div style="color: #34495e; margin: 4% 10% 2%; text-align: justify;font-family: sans-serif">
                <h2 style="color: #2E86C1; margin: 0 0 10px; text-align: center;">EasyNotes</h2>
                <h3 style="color: #2E86C1; margin: 0 0 10px; text-align: center;">Hola {{user.username}}</h3>
                <p style="margin: 2px; font-size: 15px; text-align: center;">
                    Para resetear tu contraseña, haz click en el siguiente boton:
                </p>

                <div style="width: 100%;margin:20px 0; display: inline-block;text-align: center">

                </div>
                <div style="width: 100%; text-align: center">
                    <a style="text-decoration: none; border-radius: 5px; padding: 11px 23px; color: white; background-color: #3498db"
                       href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}">Ir a la página</a>
                </div>
                <p style="color: #b3b3b3; font-size: 9px; text-align: center;margin: 30px 0 0">O, haz clic en este link: {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}</p>
                <p style="color: #b3b3b3; font-size: 10px; text-align: center;margin: 30px 0 0">EasyNotes
                    2022</p>
            </div>
        </td>
    </tr>
</table>
<!--hasta aquí-->

</body>
</html>