{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Home{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href='{% static "notebook.svg" %}' rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet" />

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet" />

    <!--datatables-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
      <!-- Sidebar Start -->
      {% block sidebar %}
      <div class="sidebar pb-3">
        <nav class="navbar bg-light navbar-light">
          <a href="{% url 'index' %}" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="bi bi-journal-bookmark-fill me-2"></i>EASY NOTES</h3>
          </a>
          <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
              <img class="rounded-circle" src="{% static "img/user2.png" %}" alt="User image" style="width: 40px; height: 40px;">
              <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
              <h6 class="mb-0">{{ user.first_name }} {{ user.last_name }}</h6>
              {% if user.is_staff %}
              <span class="text-muted">Admin</span>
              {% else %}
              <span class="text-muted">Teacher</span>
              {% endif %}
            </div>
          </div>
          <div class="navbar-nav w-100">
            <a href="{% url 'index' %}" class="nav-item nav-link"><i class="bi bi-house-fill me-2"></i>Home</a>
            <a href="{% url 'students' %}" class="nav-item nav-link"><i class="bi bi-person-badge-fill me-2"></i>Mis estudiantes</a>
            <a href="{% url 'subjects' %}" class="nav-item nav-link"><i class="bi bi-book-half me-2"></i>Asignaturas</a>
            {% if user.is_staff %}
            <a href="{% url 'teachers' %}" class="nav-item nav-link"><i class="bi bi-person-circle me-2"></i>Profesores</a>
            <a href="{% url 'enrollments' %}" class="nav-item nav-link"><i class="bi bi-files me-2"></i>Matriculas</a>
            {% endif %}
            <a href="{% url 'notes' %}" class="nav-item nav-link"><i class="bi bi-card-list me-2"></i>Notas</a>
          </div>
        </nav>
      </div>
      {% endblock %}
      <!-- Sidebar End -->

      <!-- Content Start -->

      <div class="content py-4">
        <!-- Navbar Start -->
        {% block navbar %}
        <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0" style="margin: -25px 0 15px 0; width: 100%">
          <a href="{% url 'index' %}" class="navbar-brand d-flex d-lg-none me-4">
            <h2 class="text-primary mb-0"><i class="fa-solid fa-house-user"></i></h2>
          </a>
          <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
          </a>
          <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown"></div>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <img class="rounded-circle me-lg-2" src="{% static "img/user2.png" %}" alt="" style="width: 40px; height: 40px;">
                <span class="d-none d-lg-inline-flex">{{ user.first_name }}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                <a href="{% url 'logout' %}" class="dropdown-item">Log Out</a>
              </div>
            </div>
          </div>
        </nav>
        {% endblock %}
        <!-- Navbar End -->
        {% block content %} {% endblock %}

        <!--Footer Start-->
        {% block footer %} {% endblock %}
        <!-- Footer End -->
      </div>
      <!-- Content End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    <script>
      $(document).ready(function () {
        $("#myTable").DataTable();
      });
    </script>
  </body>
</html>
