{% extends 'base.html' %} {% block title %}Inicio{% endblock %} {% block content %}
<div class="p-5 bg-light">
  <div class="container-fluid pt-4 px-4">
    <h1 class="display-3">Bienvenido a Easy Notes</h1>
    <p class="lead">Comienza a ingresar tus notas</p>
    <hr class="my-2" />
    <small>Hecho por: Ricardo Jaramillo, Andres Molinares, Luis Tilve</small>
  </div>
</div>
{% endblock %}
