{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block sidebar %} {% endblock %}
{% block navbar %} {% endblock %}

{% block content %}
<!-- Sign In Start -->
<div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh">
  <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-5">
    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3 shadow">

      <div class="d-flex align-items-center justify-content-between mb-3">
        <a href="#" class="">
          <h3 class="text-primary"><i class="bi bi-journal-bookmark-fill me-2"></i>EASYNOTES</h3>
        </a>
        <h3>Log In</h3>
      </div>
    {% block form %}
      <form method="POST">
        {% csrf_token %}

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="username" name="username" placeholder="Username" />
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-4">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" />
          <label for="floatingPassword">Password</label>
        </div>
        <div class="d-flex align-items-center justify-content-between mb-4">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" />
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <a href="{% url 'password_reset' %}">Forgot Password</a>
        </div>
        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign In</button>
      </form>
      {% endblock %}
    </div>
  </div>
</div>
<!-- Sign n End -->
{% endblock %} {% block footer %}
<div class="container-fluid pt-4 px-4">
  <div class="bg-light rounded-top p-4">
    <div class="row">
      <div class="col-12 col-sm-6 text-center text-sm-start">&copy; <a href="#">Easy Notes</a>, All Right Reserved.</div>
      <div class="col-12 col-sm-6 text-center text-sm-end">
        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
        Designed By <a href="https://htmlcodex.com">HTML Codex</a>
        <br />
        Distributed By <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
