{% extends 'base.html' %} {% block title %}Ingreso de notas{% endblock %} {% block content %}
    <div class="container-fluid pt-4 px-4">

    <div class="bg-light rounded h-100 p-4">
        <h4 class="mb-4">Ingresar calificaciones</h4>
        <form class="multipart/form-data" method="POST">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a role="button" class="btn btn-danger" href="{% url 'notes' %}">Cancelar</a>
        </form>
    </div>
{% endblock %}
</div>
