{% extends 'base.html' %} {% block title %}Actualizacion de notas{% endblock %} {% block content %}
    <div class="container-fluid pt-4 px-4">

    <div class="bg-light rounded h-100 p-4">
        <h4 class="mb-4">Editar calificaciones</h4>
    <form class="multipart/form-data" method="POST" action="{% url 'edit_notes' note.id %}">
      {% csrf_token %} {{ form.as_p}}
      <button type="submit" class="btn btn-primary">Update</button>
      <a role="button" class="btn btn-danger" href="{% url 'notes' %}">Cancelar</a>
    </form>
  </div>
  {% endblock %}
</div>
