{% extends 'base.html' %} {% block title %}Calificaciones{% endblock %} {% block content %}
<div class="container-fluid pt-4 px-4">
  <div class="bg-light text-center rounded p-4">
    <h4>Calificaciones</h4>
    <div class="row d-flex justify-content-end">
     <div class="col-md-6">
      <form class="row " method="post">
        {% csrf_token %} 
       <div class="col-auto">
        <label for="id_periodo" class="form-label pt-2">Periodo:</label>
       </div>
      <div class="col-auto">
        <input type="number" id="id_periodo" name="periodo" class="form-control col-2" placeholder="example: 1 or 2 ..."></input>
       </div>
       <div class="col-auto">
        <input type="submit" id="button" class="btn btn-primary" value="Listar"/>
      </div>
      </form>
     </div>
     <div class="col-md-2">
      <a class="btn btn-success rounded-pill m-2" href="{% url 'create_notes' %}">Calificar</a>
     </div>
    </div>
    <div class="table-responsive">
      <table class="table text-start align-middle table-bordered table-hover mb-0" id="myTable">
        <thead>
          <tr class="text-dark">
            <th scope="col">Nombre del estudiante</th>
            <th scope="col">Asignatura</th>
            <th scope="col">Nota 1</th>
            <th scope="col">Nota 2</th>
            <th scope="col">Nota 3</th>
            <th scope="col">Definitiva</th>
            <th scope="col">Periodo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {% for note in list_notes %}
          <tr>
            <td>{{ note.student_id.name }} {{ note.student_id.last_name }}</td>
            <td>{{ note.subject_id.name }}</td>
            <td>{{ note.note_1 }}</td>
            <td>{{ note.note_2 }}</td>
            <td>{{ note.note_3 }}</td>
            <td>{{ note.definition_note | floatformat:2}}</td>
            <td>{{ note.periodo }}</td>
            <td class="text-center">
              <a class="btn btn-warning rounded-pill" href="{% url 'edit_notes' note.id %}" role="button">Editar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
