{% extends 'base.html' %} {% block title %}Editar estudiantes{% endblock %} {% block content %}
<div class="container-fluid pt-4 px-4">
  <div class="bg-light rounded h-100 p-4">
    <h4 class="mb-4">Editar estudiante</h4>
    <!--{% include 'students/form.html' %}-->
    <form class="form" method="POST" action="{% url 'edit_students' student.id %}">
      {% csrf_token %} {{ form.as_p }}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
        <a role="button" class="btn btn-danger" href="{% url 'students' %}">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
