{% extends 'base.html' %} {% block title %} Estudiantes {% endblock %} {% block content %}
<div class="container-fluid pt-4 px-4">
  <div class="bg-light text-center rounded p-4">
    <h4>Estudiantes</h4>
    {% if user.is_staff %}
    <a class="btn btn-success rounded-pill m-2" href="{% url 'create_students' %}">Crear Estudiante</a>
    {% endif %}
    <div class="table-responsive">
      <table class="table text-start align-middle table-bordered table-hover mb-0" id="myTable">
        <thead>
          <tr class="text-dark">
            <th scope="col">Tipo de documento</th>
            <th scope="col">No. Documento</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            {% if user.is_staff %}
            <th scope="col">Acciones</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% if list_student %} {% for student in list_student %}
          <tr>
            <td>{{ student.document_type }}</td>
            <td>{{ student.document_number }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.last_name }}</td>
            <td class="text-center">
              {% if user.is_staff %}
              <a class="btn btn-primary rounded-pill" href="{% url 'edit_students' student.id %}" role="button">Editar</a>
              <a class="btn btn-danger rounded-pill" onclick="return confirm('Seguro deseas eliminar?')" href="{% url 'delete_students' student.id %}" role="button">Eliminar</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %} {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
